.dm-wrap {
  width: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  .title{
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  .avatar-nickname-box {
    display: flex;
    justify-content: center;
    align-items: center;
    .avatar-box {
      width: 32px;
      height: 32px;
      margin-right: 4px;
    }
    .dm-partner {
      text-align: center;
      .nickname {
        text-decoration: none;
        font-size: x-large;
      }
    }
  }

  .avatar-box {
    width: 32px;
    height: 32px;
    margin-right: 4px;
  }
  .dm-partner {
    text-align: center;
    .nickname {
      text-decoration: none;
      font-size: x-large;
    }
  }

  .message-delete-box_current_user {
    // display: flex;
    // align-items: center;
    // justify-content: right;
    text-align: right;
    margin-bottom: 10px;
    padding-left: 20%;
    margin-right: 10px;
    .destroy-box {
      display: none;
    }
    &:hover {
      .destroy-box {
        display: inline-block;
        vertical-align: middle;
        .destroy-message {
        color: #808080;
          -webkit-text-stroke: 1px white;
        }
      }
    }
    .message-box {
      background-color: #1DA1F2;
      color: white;
      padding: 10px;
      border-radius: 12px;
      display: inline-block;
      position: relative;
      max-width: 95%;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 3px; 
        right: -19px;
        border: 8px solid transparent;
        border-left: 18px solid #1DA1F2;
        -webkit-transform: rotate(-35deg);
        transform: rotate(-35deg);
      }
    }
  }

  .message-avatar-box_visited_user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    .avatar-box {
      width: 32px;
      height: 32px;
      margin-right: 4px;
    }
    .message-box {
      background-color: #EBEEF0;
      color: #0F1419;
      padding: 10px 15px;
      border-radius: 12px;

      position: relative;
      margin-left: 10px;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 3px; 
        left: -19px;
        border: 8px solid transparent;
        border-right: 18px solid #EBEEF0;
        -webkit-transform: rotate(35deg);
        transform: rotate(35deg);
      }
    }
  }

  .no-message-caption {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .new-dm-box {
    .form {
      // デフォルトのCSSをリセット
      width: auto;
      border: none;
      margin: 0;
      background-color: transparent;
      padding: 0;
      // デフォルトのCSSをリセット（ここまで）
      display: flex;
      justify-content: space-between;
      .new-dm {
        width: 750px;
        height: 50px;
        border-radius: 15px;
        background-color: #EBEEF0;
        border: none;
        padding: 5px 10px;
        outline: none;
        display: block;
        }
      button {
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        width: 36px;
        margin-left: 6px;
        display: block;
        .dm-post-icon {
          color: black;
          font-size: xx-large;
          -webkit-text-stroke: 1px white;
        }
        .dm-post-caption {
          font-weight: bold;
          margin-top: 2px;
          text-align: center;
        }
      }
    }
  }
  .back-btn-box {
    text-align: center;
    margin-top: 10px;
    .back-btn {
      text-decoration: none;
      color: #1da1f2;
      font-weight: bold;
    }
  }
}
