$icon-color: #757575;

.footer {
  background-color: white;
  border-top: x-small solid #eeeeee;
  padding-top: 10px;
  .petput-info {
    display: flex;
    justify-content: space-around;
    .footer-link {
      text-decoration: none;
      color: #757575;
      font-size: small;
    }
  }
  .footer-bottom {
    margin: 10px 0 10px;
    color: #757575;
    text-align: center;
    font-size: smaller;
  }
  .hidden-large-screen {
    display: none;
  }
}

/* レスポンシブデザイン */
/* medium screen */
@media (max-width: 1024px) {
  .footer {
    // padding-top: 0px;
    margin-top: 50px;
    .hidden-large-screen {
      width: 100vw;
      padding: 10.5px 10px;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
    }
    .petput-info,
    .footer-bottom {
      display: none;
    }
    .menu {
      width: 100%;
      display: flex;
      justify-content: space-around;
      .link-box {
        position: relative;
        .link {
          text-decoration: none;
          display: block;
          .link-icon {
            color: $icon-color;
            font-size: 1.5em;
            display: flex;
            justify-content: center;
          }
          .mark {
            color: #ffc0cb;
            font-size: 60%;
            position: absolute;
            top: -5px;
            right: 5px;
          }
          .link-title {
            color: $icon-color;
            font-weight: normal;
            font-size: x-small;
            text-align: center;
            line-height: 1.2;
            margin-top: 3px;
          }
        }
      }
    }
  }
}

/* small screen */
@media (max-width: 599px) {
  .footer {
    .menu {
      .link-box {
        .link {
          // width: 42px;
          .link-icon {
            // font-size: 1.2em;
          }
          .mark {
            top: -5px;
            right: -4px;
          }
          .link-title {
            display: none;
          }
        }
      }
    }
  }
}
