$icon-color: #757575;

.top-home-page-header {
  width: 100vw;
  padding: 10.5px 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 16px;
  position: fixed;
  background-color: white;
  z-index: 1;
  .hidden-large-screen {
    display: none;
  }

  .avatar-nickname {
    a {
      text-decoration: none;
    }
    .avatar-box {
      width: 25px;
      height: 25px;
      margin: 0 auto;
    }
    .nickname {
      color: #757575;
      font-size: x-small;
      text-align: center;
      margin-top: 3px;
    }
  }

  .home-menu,
  .menu-in-top {
    display: flex;
    justify-content: center;
    width: 360px;
    margin-right: 10px;
    margin-left: 10px;
    .link-box {
      position: relative;
      .link {
        text-decoration: none;
        display: block;
        width: 60px;
        .link-icon {
          color: $icon-color;
          font-size: 1.5em;
          display: flex;
          justify-content: center;
        }
        .mark {
          color: #ffc0cb;
          font-size: 60%;
          position: absolute;
          top: -5px;
          right: 12px;
        }
        .link-title {
          color: $icon-color;
          font-weight: normal;
          font-size: x-small;
          text-align: center;
          line-height: 1.2;
          margin-top: 3px;
        }
      }
      .guest-link {
        width: 120px;
      }
    }
  }

  .menu-in-top {
    // トップページのメニュー
    justify-content: flex-end;
  }
}

/* アプリアイコン */
.petput-icon {
  width: 100px;
}

/* キャプション検索 */
.search-form {
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box {
  width: 100%;
  height: 30px;
  border-color: #eeeeee;
  border-style: solid;
  text-align: center;
  outline: none;
  border-radius: 2px 0 0 2px;
}
/* カテゴリー検索でも使用 */
.search-button {
  width: 30px;
  height: 30px;
  background-color: #eeeeee;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  border-radius: 0 2px 2px 0;
}
/* カテゴリー検索でも使用 */
.search-icon {
  width: 100%;
}
/* カテゴリー検索でも使用 */
.hidden-search-button {
  display: none;
}

/* カテゴリー検索 */
.category-search-form {
  width: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category-input-box {
  width: 100%;
  height: 30px;
  border-color: #eeeeee;
  border-style: solid;
  border-width: 2px;
  text-align-last: center;
  outline: none;
  color: #757575;
  padding: 1px 2px;
  border-radius: 5px 0 0 5px;
  /* ↓セレクトボックスの矢印を消す */
  -webkit-appearance: none; /* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
  appearance: none; /* 標準のスタイルを無効にする */
}

.logout {
  margin-bottom: 0;
}

/* レスポンシブデザイン */
/* medium screen */
@media (max-width: 1024px) {
  .top-home-page-header {
    .search-form {
      width: 30vw;
    }
    .category-search-form {
      width: 30vw;
    }
    .home-menu {
      display: none;
    }
  }
}

/* small screen */
@media (max-width: 599px) {
  .top-home-page-header {
    .hidden-small-screen {
      display: none;
    }
    .hidden-large-screen {
      display: block;
    }
    .petput-icon {
      width: 35px;
    }

    .search-form {
      input {
        font-size: x-small;
      }
    }
    .category-search-form {
      select {
        font-size: x-small;
      }
    }

    .avatar-nickname {
      .nickname {
        display: none;
      }
    }
  }
}
