.vote-btn-box, .vote-result-box {
  height: 50%;
  display: flex;
  align-items: center;
}

.vote-btn-like {
  text-decoration: none;
  color: black;
  display: block;
}

.vote-btn-unlike {
  text-decoration: none;
  color: #ea3559;
  display: block;
}

.vote-result-box>.avatar-box-photo-show {
  width: 20px;
  height: 20px;
}
.voter_nickname {
  color: black;
  font-weight: bold;
  display: block;
}