<%= render 'shared/header' %>

<div class='photo-contents'>
  <h2 class='title'><%= "#{@nickname}の投稿" %></h2>
  <ul class='photo-lists'>

    <%= render partial:"shared/photos", locals: {photos: @photos} %>

  </ul>
</div>

<%= render 'shared/footer' %>