          <div>
            <% if comments %>
              <% comments.each do |comment| %>
                <div class="avatar-nickname-comment-box">
                    <div class="avatar-box-photo-show">
                      <%= image_tag comment.user.avatar, class: "avatar-img" if comment.user.avatar.attached? %>
                    </div>
                    <div class="nickname-comment-box">
                      <%= link_to comment.user.nickname, user_path(comment.user_id), class:"nickname" %>
                    
                      <span class="comment"><%= safe_join(comment.text.split("\n"), tag(:br)) %></span>
                    </div>

                  <% if user_signed_in? && current_user.id == comment.user_id %>
                    <div>
                      <%= link_to photo_comment_path(photo_id: photo.id, id: comment.id), method: :delete, class: "destroy-comment", data: {confirm:'本当に削除しますか？'} do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  <% end %>

                </div>
              <% end %>
            <% end %>
          </div>