<%# 写真投稿者はお気に入り登録できないようにする %>
<% if user_signed_in? && current_user != photo.user %>
<%# ログインしているユーザーがファボしたかどうかで分岐  %>
  <% if photo.favorited_by?(current_user) %> 
    <div class="bookmark-box">
      <%# お気に入り解除 %>
      <%=link_to photo_favorites_path(photo.id), method: :delete, class: "bookmark-link" do %>
        <i class="fas fa-star bookmark-icon"></i>
        <div class="bookmark-caption">お気に入り</div>
      <% end %>
    </div>
  <% else %>
    <div class="bookmark-box">
      <%# お気に入り登録 %>
      <%=link_to photo_favorites_path(photo.id), method: :post, class: "bookmark-link" do %>
        <i class="far fa-star bookmark-icon"></i>
        <div class="bookmark-caption">お気に入り</div>
      <% end %>
    </div>
  <% end %>
<% end %>