<footer class='footer'>
  <ul class='petput-info'>
    <li><%= link_to 'ご利用ガイド', "#", class: "footer-link" %></li>
    <li><%= link_to 'プライバシー', "#", class: "footer-link" %></li>
    <li><%= link_to '利用規約', "#", class: "footer-link" %></li>
    <li><%= link_to 'お問い合わせ', "#", class: "footer-link" %></li>
  </ul>
  <p class='footer-bottom'>
    © 2021 Mitsuhiro Kawashima
  </p>
</footer>