.photo-contents {
  padding: 15px 20px;
  padding-top: 84px;
  background-color: #FAFAFA;
}

.photo-contents>.title {
  color: #262626;
  font-weight: bold;
  margin-bottom: 16px;
}
.photo-contents>.order {
  color: #757575;
  font-weight: bold;
  margin-bottom: 16px;
}

.photo-block {
  display: flex;
  justify-content: center;
}

.photo-lists {
  width: 96vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 5vw;
}
.photo-lists>.list {
  margin: 0 1.3vw 2.6vw 1.3vw;
  width: 26vw;
  height: 26vw;
}
.photo-lists:after {
  content: "";
  display: block;
  width: 26vw;  /* .boxに指定したwidthと同じ幅を指定する */
  height: 26vw;
  margin: 0 1.3vw 2.6vw 1.3vw;
}
.photo-img {
  width: 100%;
  height: 100%;
}

/* いいね、コメント記号 */
.vote-comment-symbol {
  text-align: center;
  color: #757575;
  font-size: 1.3vw;
}

/* 写真の配置は後でbootstrapで修正する予定？ */
/* .photo-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photo-lists>.list {
  margin: 0 2vw 2vw 0;
  position: relative;
}
.photo-img {
  width: 33vh;
  height: 33vh;
} */






