.photo-show {
  // background-color: #999999;
  // width: 100vw;
  // height: 100vh;
  // padding: 40px 0;
  // font-size:14px;
}

.photo-caption-comments-box {
  width: 935px;
  height: 600px;
  margin: auto;
  display: flex;
  background-color: white;
  position: relative;
  border-radius: 4px;
  .left-box {
    width: calc(100% - 335px);
    text-align: center;
    background-color: black;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    .bookmark-box {
      position:absolute;
      top: 10px;
      left: 10px;
      width: 55px;
      height: 55px;
      // text-align: center;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      .bookmark-link {
        text-decoration: none;
        color: gold;
        .bookmark-icon {
          font-size:x-large;
        }
        .bookmark-caption {
          font-size: xx-small;
          display: block;
          margin-top: 5px;
        }
      }
    }
    .left-box-photo {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}




.right-box {
  width: 335px;
  .right-box-header {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 14px;
    font-weight: bold;
    border-bottom: solid 1px #EEEEEE;
    .nickname-follow {
      display: flex;
      align-items: center;
      .avatar-box-photo-show {
        width: 32px;
        height: 32px;
        margin-right: 4px;
        display: inline-block;
      }
      .nickname {
        color: black;
      }
      .follow {
        /* color: #1E90FF; */
        display: inline-block;
      }
    }
    .back-btn {
      position: absolute;
      left: 250px;
    }
  }
}

.photo-show .menu {
  margin-left: auto;
  margin-right: 16px;
  margin-top: 72px;
}
.photo-show .line {
  margin-left: auto;
}
.photo-show .link-list {
  transform: translateY(0vh);
  background-color: white;
  padding: 5px;
  /* border: 1px solid #333333; */
  /* transition: all 0.2s ; */
  border-radius: 2px;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
}
#input:checked ~ .link-list {
  transform: translateY(10px);
}

li>.link {
  color: #808080;
  font-weight: 200;
  text-decoration: none;
  text-align: right;
  display: block;
  margin-bottom: 10px;
}
li>.last-link, li>.back-link {
  margin-bottom: 0;
}

.right-box-caption-comments {
  height: calc(600px - (70px + 55px + 55px));

  overflow: scroll;
  /* スクロールバーを非表示にするコード */
  /* https://www.yoheim.net/blog.php?q=20190801 */
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;    /* Firefox 対応 */
}

/* スクロールバーを非表示にするコード */
/* https://www.yoheim.net/blog.php?q=20190801 */
.right-box-caption-comments::-webkit-scrollbar {   /* Chrome, Safari 対応 */
  display:none;
}

/* キャプション部分 */
.right-box-caption {
  padding: 25px 14px;
  display: flex;
}
.nickname-caption-box {
  width: 250px;
}
.nickname-caption-box>.nickname {
  color: black;
  font-weight: bold;
}
.nickname-caption-box>.caption {
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 14px;
  line-height: 18px;
}
.nickname-caption-box>.caption>a {
  text-decoration: none;
  color: #1E90FF;
}

/* コメント一覧、アバター */
/* ↓avatar.cssに記入済み */
/* .avatar-img{
  width:  100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  display: inline-block;
} */

.right-box-comments {
  padding: 0 14px;
}

.avatar-nickname-comment-box {
  margin-bottom: 25px;
  display: flex;
}


.nickname-comment-box {
  width: 250px;
}
.nickname-comment-box>.nickname {
  color: black;
  font-weight: bold;
}
.nickname-comment-box>.comment {
  color: rgba(var(--i1d,38,38,38),1);
  font-size: 14px;
  line-height: 18px;
}

.destroy-comment {
  color: #808080;
  text-align: right;
  display: block;
  -webkit-text-stroke: 1px white;
}

/* いいねボタンなどの箱 */
.vote-box {
  padding-left: 17px;
  border-top: solid 1px  #EEEEEE;
  height: 55px;
  padding: 3px 0 3px 17px;
}

/* 新しいコメント投稿欄 */
.right-box-new-comment {
  padding: 20px 17px;
  border-top: solid 1px  #EEEEEE;
  height: 55px;
}
.nickname-follow>.nickname {
  margin-right: 5px;
}

.input-comment {
  border: none;
  resize: none;
  outline: none;
  width: 75%;
  font: inherit;
  vertical-align: middle;
  padding: 2px 0;
}

.submit-comment {
  border: none;
  color: #8EB8FF;
  vertical-align: middle;
  background-color: transparent;
  height: auto;
  font: inherit;
  padding: 0;
  cursor: pointer;
}






