.user-show-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.user-show-header>.title {
  color: #262626;
  font-weight: bold;
  line-height: 31px;
  margin-right: 16px;
}

.follow-info .follow-count {
  font-weight: bold;
}

.follow-info .follow-link {
  text-decoration: none;
  color: #757575;
  margin-right: 15px;
}