<%= render 'shared/header' %>



<div class='photo-contents'>
  <%# <h2 class='order'>ランダム表示</h2> %>
  <h2 class='title'>最新投稿</h2>
  <ul class='photo-lists'>

    <%= render partial:"shared/photos", locals: {photos: @photos} %>

  </ul>
</div>

<%= render 'shared/footer' %>