<div class="photo-new">
  <div class="header">
    <div class="title-box">
      <h2 class="photo-new-title">新規投稿</h2>
    </div>
  </div>

  <div class="form">
    <div class="click-home">
      <%= link_to '戻る', root_path, class: "home-button" %>
    </div>

    <%= form_with model: @photo, local: true do |f| %>

    <%= render partial: "shared/form", locals: {f: f} %>

       <div class="click-submit">
        <%= f.submit "シェア", class: "submit-button" %>
      </div>

    <% end %>
  </div>
</div>