$form_width: 600px;

.registration-page {
  background-color: rgb(250, 250, 250);
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100vh;
  .registration-form-wrap {
    width: $form_width;
    height: 100%;
    padding: 20px 0;
    border: 1px solid #dddddd;
    // text-align: center;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 2px;

    // エラーメッセージ
    #error_explanation,
    .login-flash-message {
      color: #ea352d;
      width: 80%;
      font-size: 14px;
      line-height: 2;
      margin: 0 auto 18px;
    }
    .registration-petput-icon {
      height: 31px;
      display: block;
      margin: 0 auto 14px;
    }
    .registration-catchword {
      color: #757575;
      font-weight: bold;
      text-align: center;
      margin-bottom: 16px;
    }
    .label {
      display: block;
      margin-left: 10%;
      margin-bottom: 8px;
      font-weight: bold;
      text-align: left;
      font-size: 14px;
      .required-btn {
        background-color: red;
        color: white;
        border-radius: 2px;
        font-size: 12px;
        padding: 2px;
        font-weight: normal;
      }
    }
    .field-box {
      width: 80%;
      height: 45px;
      border-radius: 4px;
      display: block;
      margin: 0 auto 18px;
      border: 1px solid #dddddd;
      background-color: rgb(250, 250, 250);
      padding: 8px;
      font-size: 14px;
      outline: none;
    }

    .profile-pic-btn {
      position: relative;
      display: inline-block;
      color: #757575;
      overflow: hidden;
      width: 55px;
      height: 55px;
      margin: 0 auto 16px 10%;
      border-radius: 50%;

      .fa-user {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-size: 35px;
        cursor: pointer;
      }
    }
    .profile-pic-btn:hover {
      // background-color: rgb(239, 239, 239);
    }
    .profile-pic-input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      // cursor: pointer;
      display: none;
    }

    .signup-button,
    .update-button {
      text-decoration: none;
      color: #ffffff;
      background-color: rgba(var(--d69, 0, 149, 246), 1);
      display: block;
      margin: 0 auto 0;
      line-height: 30px;
      width: 80%;
      height: 45px;
      border-radius: 4px;
      font-size: 14px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
  }

  .login-link-wrap {
    width: $form_width;
    height: 65px;
    padding-top: 25px;
    border: 1px solid #dddddd;
    margin: 10px auto 0 auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    .registraion-question {
      color: rgba(var(--i1d, 38, 38, 38), 1);
      font-size: 14px;
    }
    .login-link {
      text-decoration: none;
      color: #1e90ff;
      font-size: 14px;
    }
  }
}

.facebook-link {
  text-decoration: none;
  color: #ffffff;
  background-color: rgba(var(--d69, 0, 149, 246), 1);
  display: inline-block;
  line-height: 30px;
  width: 80%;
  height: 45px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

// .or {
//   color: #8e8e8e;
//   font-size: 13px;
//   font-weight: bold;
//   margin-bottom: 20px;
// }

// .registration-consent {
//   color: #8e8e8e;
//   font-size: 12px;
//   margin: 0 40px;
// }
// .font_bold {
//   font-weight: bold;
// }

// 登録情報変更ビュー
.registration-page {
  .registration-form-wrap {
    .profile-field-box {
      height: 120px;
    }
  }
}

// レスポンシブデザイン
/* small screen */
@media (max-width: 599px) {
  .registration-page {
    width: 160vw;
  }
}
